.gnb{width: 1000px; 
    margin: 50px auto;
}
.gnb .depth1{
    float: left; 
    width: 200px;
    text-align: center;
}
.gnb .depth1>a{
    display: block;
    font-size: 20px; 
    font-weight: bold;
    line-height: 50px;
    background-color: #fff;
    color: #000;
}
.gnb .depth1:hover>a{color: #4c4cc3;}

.gnb .depth2{
    padding: 30px 0; 
    background-color: #4c4cc3;
    border: 1px solid #4c4cc3;
    border-radius: 10%;
    color: #ebebeb; font-size: 14px;
    display: none;
}
.gnb .depth2>li{padding-bottom: 15px;}
.gnb .depth2>li:last-child{padding-bottom: 0;}
.gnb .depth2>li:hover{color: black;}
.gnb .depth1:hover>.depth2{display: block;}